In [1]:
import numpy as np
import pandas as pd

In [2]:
# df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
# df

In [3]:
#building area 
randarea=np.arange(50,1010,10)
area = np.random.choice(randarea, size=10000)
area
np.size(area)

10000

In [4]:
#building height
randheight=np.arange(3,15+3,3)
height = np.random.choice(randheight, size=10000)
height
np.size(height)

10000

In [5]:
#building type Single House-0, Town House-1, Duplex-2, Apartment-3
# randarea=np.arange(50,1010,10)
btype = np.random.randint(0,4,size=10000)
btype
np.size(btype)

10000

In [6]:
#air temperature
df = pd.read_excel('Datafirst.xlsx') 
airtemp=df['Temperature'].to_numpy()
airtemp
np.size(airtemp)

10000

In [7]:
#humidity
df = pd.read_excel('Datafirst.xlsx') 
humidity=df['Humidity'].to_numpy()
humidity
np.size(humidity)

10000

In [8]:
#solar radiation
df = pd.read_excel('Datafirst.xlsx')
solardata= ((df.dropna(subset=['Solar']))['Solar']).to_numpy()

radiation = np.random.choice(solardata, size=10000)
radiation
np.size(radiation)

10000

In [11]:
#energy consumption
randcons=np.arange(50,300+10,10)
consumption= np.random.choice(randcons, size=10000)
consumption
# np.size(consumption)

array([300, 270, 180, ..., 160, 300, 220])

In [12]:
Final =  {'Area': area, 'Height':height, 'Building Type':btype, 'Air Temperature':airtemp, 'Humidity':humidity, 'Solar Radiation': radiation, 'Energy Consumption':consumption}
FinalDF = pd.DataFrame(Final)
FinalDF

,Area,Height,Building Type,Air Temperature,Humidity,Solar Radiation,Energy Consumption
0,200,12,2,9.344149,96.539062,136000.000000,300
1,480,12,1,9.773153,95.074219,124000.000000,270
2,440,6,2,9.656518,94.585938,121333.333333,180
3,840,6,2,27.015088,65.777344,132666.666666,270
4,360,9,2,28.290034,99.957031,134666.666666,300
...,...,...,...,...,...,...,...
9995,140,12,2,15.364951,95.318359,124000.000000,180
9996,150,6,1,15.151790,98.003906,123333.333333,70
9997,740,9,2,15.267084,98.248047,126000.000000,160
9998,640,12,0,15.419917,94.585938,133333.333333,300
9999,870,9,2,15.115592,96.783203,122000.000000,220